In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 25, 34],
        "Sex": ['male', 'male', 'female'],
    }
)
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   25    male
2  Bonnell, Miss. Elizabeth   34  female

In [10]:
df["Age"]

0    22
1    25
2    34
Name: Age, dtype: int64

In [11]:
ages = pd.Series([22, 35, 58], name="Age")
ages

0    22
1    35
2    58
Name: Age, dtype: int64

In [13]:
df["Age"].max()

34

In [14]:
df.describe()

             Age
count   3.000000
mean   27.000000
std     6.244998
min    22.000000
25%    23.500000
50%    25.000000
75%    29.500000
max    34.000000